@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-play: "Play", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-play);
}

p {
  font-family: var(--font-roboto);
}

.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.scrollbar-hide::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

body {
  overflow-x: hidden;
}
