@tailwind base;
@tailwind components;
@tailwind utilities;

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  scrollbar-width: none;
}

.sidebar-button {
  transition: color 0.3s;
}

.sidebar-button {
  transition: color 0.3s;
}

.sidebar-button:hover .sidebar-icon {
  filter: invert(29%) sepia(98%) saturate(1864%) hue-rotate(180deg)
    brightness(96%) contrast(88%);
}

body {
  overflow-x: hidden;
}
