@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-play: "Play", sans-serif;
  --font-roboto: "Roboto", sans-serif;
}

h1,
h2,
h3 {
  font-family: var(--font-play);
}

p {
  font-family: var(--font-roboto);
}

body {
  overflow-x: hidden;
}
